body {
  padding: 0;
  margin: 0;
}
.viewport {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

canvas {
  display: block;
}

.button-container {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 2vh;
  right: 5vw;
  width: 30vw;
  flex-wrap: wrap;
}
