body {
  padding: 0;
  margin: 0;
}
.viewport {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

canvas {
  display: block;
}

.button-container {
  display: flex;
  position: fixed;
  bottom: 2.5vh;
  left: 80vw;
  right: 5vw;
}
